.update-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9edf7;
}

.modal {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    text-align: center;
    margin-bottom: 20px;
}

.modal-body {
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ce9ccb;
    color: white;
    cursor: pointer;
}

.text-danger {
    color: red;
}
